
<div @entering1 *ngIf="start" class="container">
  <div class="form">
    <input type="">
    <button>Accept</button>
  </div>
  <div class="form">
    <input type="">
    <button>Accept</button>
  </div>
  <div class="form">
    <input type="">
    <button>Accept</button>
  </div>  
</div>



<div @entering2 *ngIf="start" class="container">
  <div class="form">
    <input type="">
    <button>Accept</button>
  </div>
  <div class="form">
    <input type="">
    <button>Accept</button>
  </div>
  <div class="form">
    <input type="">
    <button>Accept</button>
  </div>  
</div>
